@import 'mixins';
@import 'breakpoints';

.longbutton {
  @include sm {
    width: 100%;
  }
  @include md {
    width: 100%;
  }
}

.flexparent {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox;
  flex-flow: column;
}

.flexsignin {
  @include lg {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flexbox;
    flex-flow: column;
    height: 100vh;
  }
}

.checkbox_container {
  @include sm {
    margin: 5px 5px 5px 5px;
  }
  @include md {
    margin: 10px 10px 10px 10px;
  }
  @include lg {
    margin: 20px 20px 20px 20px;
  }
}

.resume {
  flex-flow: row;

  @include sm {
  }
  @include md {
  }
  @include lg {
    font-size: xx-large;
  }
}

h1 {
  @include sm {
    font-size: medium;
    line-height: 20px;
  }
  @include land_sm {
    font-size: 18px;
    line-height: 18px;
  }
  @include md {
    font-size: 16px;
    line-height: 16px;
  }
  @include land_md {
    font-size: 25px;
    line-height: 25px;
  } // 992px window width and more
  @include lg {
    font-size: 20px;
    line-height: 25px;
  }
}

h2 {
  @include sm {
    font-size: 10px;
    line-height: 20px;
  }
  @include land_sm {
    font-size: 15px;
    line-height: 10px;
  }
  @include md {
    font-size: 12px;
    line-height: 20px;
  }
  @include land_md {
    font-size: 15px;
    line-height: 20px;
  } // 992px window width and more
  @include lg {
    font-size: 20px;
    line-height: 60px;
  }
}

.link {
  padding: 16px 0;
  margin: 0 12px;
  line-height: 30px;
  font-size: 12px;
  @include sm {
    line-height: 16px;
    margin-top: 5px;
    padding: 5px 0;
  }
  @include land_sm {
    padding: 5px 0;
  }
}

.modal-container {
  width: 50%;
  @include sm {
    width: 90%;
  }

  @include md {
    width: 90%;
  }
}

.customIcon {
  font-size: 60px;

  @include sm {
    font-size: 40px;
  }

  @include md {
  }
}

.book {
  @include sm {
    margin-top: 20px;
  }

  @include md {
    margin-top: 20px;
  }
}

.gmapautocomplete {
  @include sm {
  }

  @include md {
  }

  @include lg {
  }
}

.noorder {
  @include sm {
    margin-top: 50px;
  }

  @include md {
    margin-top: 100px;
  }

  @include lg {
    margin-top: 200px;
  }
}

.orders {
  padding: 20px 20px 20px 20px;
  @include sm {
  }

  @include md {
    overflow-y: scroll;
    width: 63%;
    height: 80%;
  }

  @include lg {
    overflow-y: scroll;
    width: 63%;
    height: 80%;
  }
}

.signin {
  padding: 20px 20px 20px 20px;
  height: min-content;
  @include sm {
    margin: 20px 20px 20px 20px;
  }

  @include md {
    height: unset;
    margin: 10px 10px 10px 10px;
    padding: 0px 20px 20px 20px;
    width: unset;
  }

  @include lg {
    max-width: 60%;
  }
}

.signinTitle {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  @include sm {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @include md {
  }

  @include lg {
  }
}

$char-w: 1ch;
$gap: 0.5 * $char-w;
$n-char: 6;
$in-w: $n-char * ($char-w + $gap);

.inputCode {
  text-align: center;
  display: block;
  margin: 1em auto;
  border: none;
  padding: 0;
  width: $in-w;
  color: rgb(87, 145, 158);
  background: repeating-linear-gradient(
      90deg,
      dimgrey 0,
      dimgrey $char-w,
      transparent 0,
      transparent $char-w + $gap
    )
    0 100% / #{$in-w - $gap} 2px no-repeat;
  letter-spacing: $gap;
  &:focus {
    outline: none;
    color: dodgerblue;
  }
  
  @include sm {
    font: 2ch droid sans mono, consolas, monospace;
  }
  @include md {
    font: 5ch droid sans mono, consolas, monospace;
  }
  @include lg {
    font: 5ch droid sans mono, consolas, monospace;
  }
}

.confirmLine {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;

  @include sm {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @include md {
  }

  @include lg {
  }
}

.textDescription {
  @include sm {
    width: 80%;
  }
  @include md {
    width: 80%;
  }
  @include lg {
    width: 34%;
  }
}

.smallbutton {
  @include sm {
    font-size: medium;
  }
}
