@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  height: 100%;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-size: cover;
  background-color: rgba(6, 175, 218, 1);
  background-position: center center;
  background-size: cover;
}

.payin {
  border-color: rgba(6, 175, 218, 0.8);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}
.signin,
.orders {
  border-color: #f6f9fc;
  background-color: #f6f9fc;
  border-style: solid 4px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.signinTitle {
  color: rgba(0, 0, 0, 0.8);
}

.resume {
  margin: 10px 0 10px 0;
  color: #f6f9fc;
  font-weight: unset;
  text-align: center;
}

.resume-text {
  color: white;
}

.price {
  margin: 10px 0 10px 0;
  color: #f6f9fc;
  font-weight: unset;
  text-align: center;
  display: inline-block;
}

.homepage {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox; /* NEW */
  align-items: center;
  /* NEW */
  justify-content: center;
  height: 100%;
}

.login {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox; /* NEW */
  justify-content: center;
}

.order {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox; /* NEW */
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-flow: column;
}

.sidebar {
  background-color: #f6f9fc;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  flex: 1;
}

.customIcon {
  color: #f6f9fc;
  margin-left: 2px;
  cursor: pointer;
  backface-visibility: hidden;
  display: -moz-inline-stack;
  display: inline-block;
}

.customIconAnimated {
  animation: bounce 3s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

h1,
h2 {
  letter-spacing: 1px;
  position: relative;
  display: block;
  color: #f6f9fc;
}
h4 {
  color: #f6f9fc;
}

.google,
.google:hover {
  width: 100%;
  background-color: rgb(219, 68, 55) !important;
  border-color: rgb(219, 68, 55) !important;
  animation-delay: 0s;
}

.facebook,
.facebook:hover {
  width: 100%;
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
  animation-delay: 1s;
}

.btn-social {
  /*animation: shake 3s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);*/
  backface-visibility: hidden;
}

.btn-link {
  border-color: transparent;
  color: #95a5a6;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #2c3e50 !important;
  text-decoration: none;
}

.bigbutton {
  color: rgba(6, 175, 218, 0.8);
  background-color: #f6f9fc;
  display: inline-block;
  font-size: 14px;
  border-style: none;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  font: normal 400 24px/1 'Roboto', sans-serif;
  text-align: center;
  text-shadow: none;
}

.specialbutton {
  color: rgba(6, 175, 218, 0.8);
  background-color: #f6f9fc;
  display: inline-block;
  font-size: 10px;
  border-style: none;
  line-height: 1;
  border-radius: 50px;
  font: normal 400 24px/1 'Roboto', sans-serif;
  text-align: center;
  text-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.whiteShine:enabled {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  animation-iteration-count: infinite;
}

.bigbutton:hover,
.specialbutton:hover {
  color: rgba(6, 175, 218, 0.8);
  background-color: #f6f9fc;
  box-shadow: #f6f9fc 0 0 10px;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group-text {
  background-color: transparent !important;
  border-color: transparent !important;
  border-style: none !important;
}

.input-group input {
  background-color: transparent !important;
  border-color: transparent !important;
  border-style: none !important;
}

.form-custom {
  color: rgba(0, 0, 0, 0.8);
}

.submitButton {
  color: #f6f9fc;
}

.flexsignin {
  background-color: rgba(6, 175, 218, 0.8);
}
